.experiences{
    padding: 80px 0;
    background: $gray;

    .container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 40px;

        .info{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            gap: 20px;

            h3{
                @include dynamic($primary-font-semibold, $dark-blue, 600, 48px, left, 56px);
            }

            p{
                @include dynamic($primary-font-regular, $dark-gray, 400, 18px, left, 24px);
            }
        }

        .container-items{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;

            .item{
                background: #fff;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 5px 5px 20px rgba(#000, 0.1);
                transition: all 0.3s;

                &:hover{
                    border-left: 4px solid $purple;
                }

                p{
                    @include dynamic($primary-font-regular, $dark-gray-2, 400, 16px, left, 24px);

                    strong{
                        @include dynamic($primary-font-semibold, $dark-gray-2, 600, 24px, left, 24px);
                    }
                }

            }
        }
    }
}