$primary-font-regular: "Work Sans", sans-serif;
$primary-font-medium: "Work Sans", sans-serif;
$primary-font-semibold:"Work Sans", sans-serif;
$primary-font-bold:"Work Sans", sans-serif;
$gray:#F0F1F3;
$red:#FC5252;
$blue:#0071ce;
$purple:#A53DFF;
$purple-2:#EDD8FF;
$dark-blue:#132238;
$dark-blue-2:#2B384C;
$dark-gray:#87909D;
$dark-gray-2:#424E60;
$dark-gray-3:#697484;
$gray-lite:#E6E8EB;
$black:#000;



// Mixins
// $default-font:$primary-font-regular;
// $default-color:$dark-blue;
// $default-font-size:18px;
// $default-weight:400;
// $default-align:left;
// $default-line-height:25px;
